<h1>Admin Dashboard</h1>
<%= link_to 'Products', products_path %>  <%= link_to 'Orders', orders_path %>
<%= link_to 'Customers', customers_path %>  <%= link_to 'Provincial Tax Rates', provinces_path %>
<%= link_to 'Exit', root_path %>