<%= render :partial => 'nav' %>

<h3>Checkout</h3>
<table>
  <tr>
    <%= image_tag @product.image, :width => '80' %>
  </tr>
  <tr>
    <th>Item:</th>
    <td><%= @product.name %></td>
  </tr>
  <tr>
    <th>Price:</th>
    <td>$<%= @product.price.round(2) %></td>
  </tr>
</table>

<h3>Enter customer information</h3>

<%= render :partial => 'form', :object => @product, :as => 'product' %>

<%= link_to_function 'Back', "history.back()" %>


