<%= render :partial => 'admin_nav' %>

<h2>Orders</h2>

<table>
  <tr>
    <th>Customer ID</th>
    <th>Customer Name</th>
    <th>Gst rate</th>
    <th>Pst rate</th>
    <th>Hst rate</th>
    <th>Status</th>
    <th>Payment method</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.cust_id %></td>
    <td><%= Customer.find(order.cust_id).f_name + " " + Customer.find(order.cust_id).l_name %></td>
    <td><%= order.gst_rate %></td>
    <td><%= order.pst_rate %></td>
    <td><%= order.hst_rate %></td>
    <td><%= order.status %></td>
    <td><%= order.payment_method %></td>
    <td><%= link_to 'Products Ordered', order_products_path(:order_id => order.id) %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Delete', order, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>