<%= render :partial => 'admin_nav' %>

<h2>Provincial Tax Rates</h2>

<table>
  <tr>
    <th>Province ID</th>
    <th>Province Name</th>
    <th>GST</th>
    <th>PST</th>
    <th>HST</th>
    <th></th>
  </tr>

<% @provinces.each do |province| %>
  <tr>
    <td><%= province.id %></td>
    <td><%= province.name %></td>
    <td><%= province.gst_rate.to_s.slice(0, 1) %>%</td>
    <td><%= province.pst_rate.to_s.slice(0, 1) %>%</td>
    <td><%= province.hst_rate.to_s.slice(0, 1) %>%</td>
    <td><%= link_to 'Edit', edit_province_path(province) %></td>
  </tr>
<% end %>
</table>
