<%= render :partial => 'nav' %>

<h3>Order Summary</h3>

<table>
  <tr>
    <%= image_tag @product.image, :width => '80' %>
  </tr>
  <tr>
    <th>Item:</th>
    <td><%= @product.name %></td>
  </tr>
  <tr>
    <th>Price:</th>
    <td>$<%= @price %></td>
  </tr>
  <tr>
    <th>Taxes:</th>
    <td></td>
  </tr>
  <tr>
    <td>GST</td>
    <td>$<%= (@gst*@price).round(2) %></td>
  </tr>
  <tr>
    <td>PST</td>
    <td>$<%= (@pst*@price).round(2) %></td>
  </tr>
  <tr>
    <td>HST</td>
    <td>$<%= (@hst*@price).round(2) %></td>
  </tr>
  <tr>
    <th>Total:</th>
    <td>$<%= @total.round(2) %></td>
  </tr>
</table>